<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap%20files/bootstrap.min.css">
    <script src="../static/bootstrap%20files/jquery.min.js"></script>
    <script src="../static/bootstrap%20files/bootstrap.min.js"></script>
    <link rel= "stylesheet" type="text/css" href= "../static/stylesheet.css">
    <script src="../static/script.js"></script>

    <title>Gumoku</title>

</head>

<body>
<h1 class="container" style="text-align: center"><b>Gumoku Online</b></h1>
<div id="layout">
    <table id="gomoku">
        {% for x in range(0, 15) %}
        <tr>
        {% for y in range(0, 15) %}
            <td id="{{ y }}-{{ x }}" onclick="play({{ y }}, {{ x }})";>1</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
 <button id="variation"><b>Variation</b></button>
</div>

<div class="buttons">
    <button id="start"><b>Start Game</b></button>
    <button id="stop"><b>Stop Game</b></button>
</div>
<div class="status">
<div id="countdown"></div>
</div>
<script>
    countDown(10,"countdown");
</script>


</body>
</html>