<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap%20files/bootstrap.min.css">
    <script src="../static/bootstrap%20files/jquery.min.js"></script>
    <script src="../static/bootstrap%20files/bootstrap.min.js"></script>
    <link rel= "stylesheet" type="text/css" href= "../static/stylesheet.css">
    <script src="../static/script.js"></script>

    <title>Toe Tactics</title>

</head>
<body>
<!-- <a href='/start'> start </a> -->
<h1 class="container"><b>Toe Tactics</b></h1>
<h3 class="container" style="text-align: center"><b>First to make 5 in a row wins!</b></h3>
<h4 class="container" style="text-align: center"> Humans: {{options[3]}}  AI: {{options[4]}}
<p class="container" style="text-align: center"><b>Play against the AI</b></p>
<div id="layout">
    
	{% if options[2] == 1%}
	<h2 style="font-family: Papyrus; text-align: center"><b>You won</b></h2>
	{% elif options[2] == 2 %}
	<h2 style="font-family: Papyrus; text-align: center"><b>You lost</b></h2>
	{% endif %}
    <table align="center" id="gomoku">
        {% for x in range(0, 14) %}
        <tr>
        {% for y in range(0, 14) %}
        {% if board[x*15 + y] == 0 and wait == 1 %}
            <td id="{{x*15 + y}}";> </td>
        {% elif board[x*15 + y] == 2 %}
            <td id="lol" class='addimage';>&nbsp;</td>
        {% elif board[x*15 + y] == 1 %}
            <td id="lol" class='botimage';>&nbsp;</td>
        {% elif board[x*15 + y] % 2 == 0 and board[x*15 + y] > 1 %}
            <td id="lol" class='addimage';>{{board[x*15 + y] - 2}}&nbsp;</td>
        {% elif board[x*15 + y] % 2 == 1 %}
            <td id="lol" class='botimage';>{{board[x*15 + y] - 2}}&nbsp;</td>
        {% else %}
            <td id="lol";> </td>
        {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div class="buttons">
    {% if options[0] == 0 %}
    <button id="start" href="/start/0"><a href="/start/0">Play First</a></button>
    <button id="start" href="/start/1"><a href="/start/1">Play Second</a></button>
    {% else %}
    <button id="stop" href="/end"><a href="/end">Stop Game</a></button>
    {% endif %}
    {% if options[1] == 0 %}
    <button id="variation" href="/var"><a href="/var">Variation</a></button>
    {% else %}    
    <button id="devariation" href="/unvar"><a href="/unvar">DeVariation</a></button>
    {% endif %}
</div>

</body>
</html>
